@using SquishIt.Mvc
@{
    string suffixText = "Cinteros Blogs";
    string viewBagTitle = Convert.ToString(ViewBag.Title ?? string.Empty);
    bool hasPrefixText = !string.IsNullOrWhiteSpace(viewBagTitle);
    
    string pageTitle = (hasPrefixText) ? string.Format("{0} - {1}", viewBagTitle, suffixText) : suffixText;
    string rssUrl = "http://" + Request.Url.Host + Url.RouteUrl("RSS", null);
}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>@pageTitle</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    
    <link rel="alternate" type="application/rss+xml" title="Cinteros Blogs RSS" href="@rssUrl" />
    
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', '');</script>

    @(Html.BundleJavaScript()
        .Add("~/content/html5.js")
        .MvcRender("~/bundled-head.js?v=#"))
    
    @(Html.BundleCss()
        .Add("~/content/reset.css")
        .Add("~/content/site.css")
        .Add("~/libraries/FancyBox/jquery.fancybox.css")
        .MvcRender("~/bundled-site.css?v=#"))

        
    @(Html.BundleCss()
        .Add("~/libraries/SyntaxHighlighter/shCore.css")
        .Add("~/libraries/SyntaxHighlighter/shThemeDefault.css")
        .Add("~/content/syntaxhighlighter-custom.css")
        .WithoutRevisionHash()
        .MvcRender("~/bundled-syntaxhighlighter.css"))
    
</head>
<body>
    <div id="container">
        <div id="wrap">
            <div id="top">
                <div class="content">
                    <div id="header">
                        <div id="logo">
                            <a title="Cinteros" href="http://www.cinteros.se">
                                <img alt="CRM specialister, Microsoft Dynamics CRM Online" src="http://www.cinteros.se/wp-content/uploads/2011/09/cinteros-logo-logotyp_top.png" class="logo">
                            </a>
                        </div>
                        <div id="nav">
                            @Html.Action("MenuItems", "Info")
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div id="main-content">
                <div id="sidebar">
                    <div class="sidebar-block">
                        <label for="q" class="sidebar-label">Sök bland inlägg</label>
                        @using(var form = Html.BeginForm("Search", "Blog", FormMethod.Get)) {
                            @Html.TextBox("q")
                            <button type="submit">Sök</button>
                        }
                    </div>
                    <div id="rss-box" class="sidebar-block">
                        <a href="@Url.RouteUrl("rss")"><span>Prenumerera via RSS</span> <img src="~/content/images/rss_20x20.png" alt="RSS" /></a>
                    </div>
                    <div class="sidebar-block">
                        <div class="sidebar-label">Taggar</div>
                        @Html.Action("Tags", "Info")
                    </div>
                    <div class="sidebar-block">
                        <div class="sidebar-label">Arkiv</div>
                        @Html.Action("Archive", "Info")
                    </div>
                    <div class="sidebar-block">
                        <div class="sidebar-label">Cinteros Bloggar</div>
                        @Html.Action("Blogs", "Info")
                    </div>
                </div>
                <div id="blog-content">
                    @RenderBody()
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@Url.Content("~/scripts/jquery-1.7.2.min.js")"><\/script>')</script>

    @(Html.BundleJavaScript()
        .Add("~/libraries/SyntaxHighlighter/shCore.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushCSharp.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushCss.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushJScript.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushPlain.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushPowerShell.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushSql.js")
        .Add("~/libraries/SyntaxHighlighter/shBrushXml.js")
        .Add("~/content/syntaxhighlighter-init.js")
        .ForceRelease()
        .WithoutRevisionHash()
        .MvcRender("~/bundled-syntaxhighlighter.js"))

    @(Html.BundleJavaScript()
        .Add("~/libraries/FancyBox/jquery.fancybox.js") 
        .Add("~/content/site.js")
        .MvcRender("~/bundled-site.js?vs=#"))
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33154203-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>